* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: bisque;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.heading {
    font-size: 48px;
    padding-top: 25px;
    font-family: "roboto"
}

form {
    margin-top: 20px;
    text-align: center;
}

form .text-field {
    min-width: 380px;
    max-width: 550px;
}